body{
    background-color: black;
    
}

body p{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-family: font-family: 'Dancing Script', cursive;

}

.buffer-logo img{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 60%;
}



.buffer-text{
    text-align: justify;
    color: lightgray;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.buffer-hat img{
    display: flex;
    width: 22%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: blue;
}

.buffer-hat h5{
    color: blue;
    margin-left: 26%;
}

.buffer-items h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    
}

.buffer-items-2 h5{
        color: blue;
    margin-left: 26%;
}
.buffer-items p{
    text-align: center;
    color: lightgray;
    width: 30em;
    margin-right: auto;
    margin-left: auto;
}

.buffer-items-2{
   font-family: Arial, Helvetica, sans-serif;
}

.buffer-items-2 img{
    display: flex;
    width: 22%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.buffer-items-2 h1{
    color: white;
    text-align: center;
}

.buffer-items-2 p{
    text-align:center;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: auto;
    margin-right: auto;

}
.Helmets{
    width: 41%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.statistics{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.statistics div{
    width: 40%;
margin-left: 10%;

}

.statistics p{
    padding-left: 40%;
    width: 100%;
}
.s10 img{
    width: 180%;
    height: auto;
}

.s60 img{
    width: 180%;
    height: auto;
}

.s13 img{
    width: 180%;
    height: auto;
}

.ansatte-pictures{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    

}

.ansatte-pictures div img{
    width: 60%;
    height: auto;
}

.ansatte-pictures p{
    text-align: center;
    max-width: 40%;
    font-size: 60%;
}

.bottom img{
    width: 50%;
    height: auto;
}

.bottom p{
    font-size: 80%;
    max-width: 20em;
}
