body{
    background-color: black;
}

body p{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

.buffer-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 60%;
}

.buffer-logo :hover{
    outline: 3px solid white;
    
}

.buffer-text{
    text-align: justify;
    color: white;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.buffer-hat img{
    display: flex;
    width: 330px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.buffer-hat p{
    color: blue;
    margin-left: 22em;
}

.buffer-items h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    
}

.buffer-items p{
    text-align: center;
    color: white;
    width: 30em;
    margin-right: auto;
    margin-left: auto;
}

.buffer-items-2{
   font-family: Arial, Helvetica, sans-serif;
}

.buffer-items-2 img{
    display: flex;
    width: 330px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.buffer-items-2 h1{
    color: white;
    text-align: center;
    font-size: 2.5em;
}

.buffer-items-2 p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 40em;
    margin-left: auto;
    margin-right: auto;

}

.statistics{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    
}

.statistics div{
    width: 40%;   
}

.statistics p{
    font-size: 1em;
    text-align: center;
    text-align: justify;
    max-width: 12em;
}

.s10 img{
    width: 15em;
    height: auto;
}

.s60 img{
    width: 15em;
    height: auto;
}

.s13 img{
    width: 15em;
    height: auto;
}

.ansatte-pictures{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    

}

.ansatte-pictures div img{
    width: 60%;
    height: auto;
}

.ansatte-pictures p{
    font-size: 1em;
    text-align: center;
    max-width: 17em;
}

.bottom img{
    width: 50%;
    height: auto;
}

.bottom p{
    font-size: 1.15em;
    max-width: 20em;
}